<template>
<nav>
    <div class="bannerPic"></div>
大磊哥的训练场
</nav>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator';
export default class MenuBar extends Vue {}
</script>
<style>
nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    font-size: 50px;
    color: #FFFFFF;
    line-height: 1;
    font-weight: bold;
}
nav .bannerPic {
    width: 100px;
    height: 100px;
    background: url('../assets/images/banner.png');
    margin-right: 12px;
    background-size: contain;
    border: 5px solid #FFFFFF;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
</style>
