<template>
  <div id="app">
    <menu-bar></menu-bar>
    <div class="hero-list">
      <div
        v-for="item in heroList"
        :key="item.name"
        :style="itemStyle(item)"
        class="item">
        {{item.name}} 【{{item.healthpoints}}】[{{item.secret}}]
        <div class="delete-item" @click="deleteItem(item)">x</div>
      </div>
    </div>
    <div class="op-container">
      <div class="create-container">
        <header>创建区</header>
        <div class="inputDiv">
          请输入名字
          <input v-model="nameVal" type="text" @keydown.enter="onClickConfirm">
        </div>
        <div class="inputDiv">
          请输入血量
          <input v-model="healthPoint" type="number">
        </div>
        <div class="inputDiv">
          请选择颜色
          <label class="radioItem" for="red">
            红色
            <input type="radio" v-model="colorVal" value="#ff66cc" id="red">
          </label>
          <label class="radioItem" for="blue">
            蓝色
            <input type="radio" v-model="colorVal" value="#66ccff" id="blue">
          </label>
        </div>
        <div class="inputDiv">
          请输入秘密字段
          <input v-model="secretVal" type="text">
        </div>
        <div class="inputDiv">
          请输入备注
          <input v-model="noteVal" type="text">
        </div>
        <div class="inputDiv">
          <button @click="onClickConfirm">添加</button>
        </div>
      </div>
      <div class="sort-container">
        <header>排序区</header>
        <div class="inputDiv">
          排序规则
          <label class="radioItem" for="name">
            名称
            <input type="radio" v-model="sortVal" value="name" id="name">
          </label>
          <label class="radioItem" for="color">
            颜色
            <input type="radio" v-model="sortVal" value="color" id="color">
          </label>
          <label class="radioItem" for="healthpoints">
            血量
            <input type="radio" v-model="sortVal" value="healthpoints" id="healthpoints">
          </label>
        </div>
      </div>
      <div class="test">
        <button @click="onTest">测试</button>
      </div>
    </div>
    <div class="show-container">
      {{showVal}}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { 
  addRxPlugin, 
  createRxDatabase 
} from 'rxdb';
import MenuBar from './components/menu-bar.vue'

addRxPlugin(require('pouchdb-adapter-memory'));
// addRxPlugin(require('pouchdb-adapter-indexeddb'));

@Component({
  components: {
    MenuBar
  },
  computed: {
    itemStyle() {
      return (item:any ) => {
        return {
          background: item.color,
        }
      }
    },
  },
})
export default class App extends Vue {
  schema:object = {
    "title": "hero schema",
    "version": 0,
    "description": "describes a simple hero",
    "type": "object",
    "properties": {
      "name": {
          "type": "string",
          "primary": true
      },
      "color": {
          "type": "string",
          "default":"#FFFFFF",
      },
      "healthpoints": {
          "type": "number",
          "minimum": 0,
          "maximum": 100,
          "default": 100
      },
      "secret": {
          "type": "string"
      },
      "note": {
          "type": "string"
      },
      "bestFriend": {
          "type": "string",
          "ref": "heroes"
      },
      "skills": {
          "type": "array",
          "maxItems": 5,
          "uniqueItems": true,
          "items": {
              "type": "object",
              "properties": {
                  "name": {
                      "type": "string"
                  },
                  "damage": {
                      "type": "number"
                  }
              }
          }
      }
    },
    "required": ["color"],
    "encrypted": ["secret"],
    "attachments": {
        "encrypted": true
    },
    indexes: [
      'color',
      'healthpoints'
    ]
  };
  cl:any;
  heroList:object[] = [];
  nameVal:string = '';
  healthPoint:number = 100;
  colorVal:string = '#ff66cc';
  sortVal:string = 'name';
  secretVal:string = '';
  noteVal:string = '';
  showVal:string='';

  @Watch('sortVal')
  getSortVal(){
    this.showList()
  }

  constructor() {
    super();
    this.init()
  }
  async init() {
    // 创建或载入db
    const db = await this.initDataBase()

    // 创建或载入collection
    const cl = this.cl = await this.initCollection(db)
    // preInsert 在插入之前处理数据
    // 血量设为30
    cl.preInsert((obj:any) => {
      // 把颜色设置为特殊颜色
      // obj.color = '#fdddff'
      // 发现名称有问题，就不插入
      if(obj.name === '小霸王') {
        throw new Error('名称非法');
      }
    }, false)

    cl.postInsert((obj:any, doc:any) => {
      console.log('obj: %o',obj)
      console.log('doc: %o',doc)
      // obj.color = '#fddfdf'
      // doc.atomicSet('color', '#fddfdf')
      // 这里不适合做阻止操作，虽然触发不了事件，但已经入库。
      // if(obj.name === '小霸王') {
      //   throw new Error('名称非法');
      // }
    }, false);

    // cl.postCreate(()=>{
      // Object.defineProperty(doc, 'healthPoint', {
      //   get: (pt:number) => {
      //     console.log('pt: %o',pt)
      //     return pt - 1
      //   }
      // })
    // })

    // db.waitForLeadership().then(() => {
    //   setInterval(async () => {
    //     this.cl.insert({
    //       name: new Date().getTime() + '',
    //       color: '#444444'
    //     });
    //   }, 1000);
    // });

    // 订阅
    cl.$.subscribe((e:object[]) => {
      console.log('e: %o',e)
      this.showList()
    });
    const oneDoc = await cl.findOne('1').exec()
    if (oneDoc) {
      oneDoc.get$('color').subscribe((color:string)=>{
        console.log('订阅的color: %o',color)
      })
    }
    this.showList()
  }
  async showList() {
      const res = await this.cl.find().sort(this.sortVal).exec()
      this.heroList = res
  }
  async initDataBase() {
    return await createRxDatabase({
      name:'heroesdb',
      adapter: 'memory',
      // adapter: 'indexeddb',
      password: 'daleibro1234567'
    })
  }
  async initCollection(db:any, name:string = 'heroes') {
    return await db.collection({
      name,
      schema: this.schema,
      // statics: {
      //   otherName: function ():string {
      //     return this.name + '呵呵'
      //   }
      // },
      // methods: {
      //   nameHa():string {
      //     return this.name + '哈哈'
      //   }
      // },
    })
  }
  async onClickConfirm() {
    this.addItem()
  }
  async addItem() {
    const obj = {
      name: this.nameVal,
      healthpoints: this.healthPoint - 0,
      color: this.colorVal,
      secret: this.secretVal || '',
      bestFriend: '2'
    }
    // if (this.noteVal) {
    //   obj.note = this.noteVal
    // }
    await this.cl.atomicUpsert(obj)
    this.nameVal = ''
  }
  deleteItem(doc:any ) {
    console.log('doc: %o',doc)
    doc.remove()
  }
  async onTest() {
// find
// - 找出所有
    // const docs = await this.cl.find().exec()
    // console.log('docs: %o',docs)
// - 找出有secret字段的doc (空字符串也算有)
    // const docs = await this.cl.find().exists('secret').exec()
    // console.log('docs: %o',docs)
// - 找出蓝色的 （find参数的用法）
    // const docs = await this.cl.find({
    //   selector: {
    //     color: { $eq: '#66ccff' }
    //   }
    // }).exec()
    // console.log('docs: %o',docs)
// - 找出蓝色的，且血量大于60的
    // const docs = await this.cl.find({
    //   selector: {
    //     $and:[ { color: { $eq: '#66ccff' } },{ healthpoints: { $gt: 60 } } ]
    //   }
    // }).exec()
    // console.log('docs: %o',docs)
// - 与上例相同的链式写法
    // const docs = await this.cl.find().and([{ color: { $eq:'#66ccff'} }, { healthpoints: { $gt: 60 } }]).exec()
    // console.log('docs: %o',docs)

// - 血量大于60且小于90的
    // const docs = await this.cl.find({
    //   selector: {
    //     $and:[ { healthpoints: { $gt: 60 } },{ healthpoints: { $lt: 90 } } ]
    //   }
    // }).exec()
    // console.log('docs: %o',docs.map((doc:any) => { return doc.toJSON() }))
// - 上例的另一种简便写法
    // const docs = await this.cl.find({
    //   selector: {
    //     healthpoints: { $gt: 60, $lt:90 }
    //   }
    // }).exec()
    // console.log('docs: %o',docs.map((doc:any) => { return doc.toJSON() }))
// - 与上例相同的链式写法
    // const docs = await this.cl.find().and([{ healthpoints: { $gt: 60, $lt:90 } }]).exec()
    // console.log('docs: %o',docs.map((doc:any) => { return doc.toJSON() }))

// - 血量大于90或小于10，没有简便写法
    // const docs = await this.cl.find({
    //   selector: {
    //     $or: [{ healthpoints: { $gt: 90 } }, { healthpoints: { $lt: 10 }}]
    //   }
    // }).exec()
    // console.log('docs: %o',docs.map((doc:any) => { return doc.toJSON() }))
// - 血量大于90或小于10，且为蓝色
    // const docs = await this.cl.find({
    //   selector: {
    //     $and:[
    //       { $or: [{ healthpoints: { $gt: 90 } }, { healthpoints: { $lt: 10 } }] },
    //       { color: { $eq:'#66ccff' } }
    //     ]
    //   }
    // }).exec()
    // console.log('docs: %o',docs.map((doc:any) => { return doc.toJSON() }))
// - doesDocumentDataMatch 是否支持doc对象?不支持。仅支持普通对象。如果要对比doc,需要用toJSON。
    // const obj = {
    //   name: '2',
    //   healthpoints: 100
    // }
    // const doc = await this.cl.findOne('1').exec()
    // const query = this.cl.find().where('healthpoints').gt(50)
    // const isMatch = query.doesDocumentDataMatch(obj)
    // const isMatch2 = query.doesDocumentDataMatch(doc.toJSON())
    // console.log('isMatch: %o',isMatch)
    // console.log('isMatch2: %o',isMatch2)

// findOne toJSON
    // const doc = await this.cl.findOne('1').exec()
    // console.log('doc: %o',doc.toJSON())

    // newDocument set
    // const tempDoc = this.cl.newDocument({ name: '呵呵' })
    // tempDoc.set('color', '#cccccc')
    // tempDoc.save()

// findByIds
    // const doc = await this.cl.findByIds(['222', '5'])
    // console.log('doc: %o',doc)

// dump() 输出json
    // const json = await this.cl.dump()
    // const json = await this.cl.dump(true)

// importDump 有问题不太懂 
    // const json = { "name": "heroes", "schemaHash": "6788af9c2b0997cd2a36ebadd0fda2ba", "encrypted": false, "passwordHash": null, "docs": [ { "healthpoints": 96, "color": "#66ccff", "name": "222" }, { "healthpoints": 100, "color": "#ff66cc", "name": "223" }, { "color": "#ff66cc", "healthpoints": 99, "name": "3" }, { "healthpoints": 100, "color": "#ff66cc", "secret": "", "name": "42" }, { "healthpoints": 100, "color": "#ff66cc", "secret": "", "name": "42e" }, { "healthpoints": 100, "color": "#ff66cc", "secret": "323", "name": "42e2" }, { "healthpoints": 100, "color": "#66ccff", "secret": "3", "name": "55" }, { "color": "#ff66cc", "healthpoints": 100, "name": "a" }, { "color": "#ff66cc", "healthpoints": 100, "name": "b" }, { "color": "#ff66cc", "healthpoints": 100, "name": "c" }, { "healthpoints": 93, "color": "#66ccff", "name": "大师" }, { "healthpoints": 90, "color": "#66ccff", "name": "大师22" } ] }
    // console.log('json: %o',json.docs[0])
    // this.cl.importDump(json)

// remove 删除collection
    // this.cl.remove()

// destroy 移除监听
    // this.cl.destroy()

// 测试get和直接.的区别。答案是没有区别
    // const doc = await this.cl.findOne('32').exec()
    // console.log('doc: %o',doc)
    // console.log('doc.secret: %o',doc.secret)
    // console.log('doc.get(secret): %o',doc.get('secret'))

// 批量删除 名字为1或2的，删掉。
    // const query = this.cl.find().where('name').in(['1', '2'])
    // query.remove()

// 批量修改 
// - 所有红色减5滴血
    // const query = this.cl.find().where('color').eq('#ff66cc')
    // query.update({
    //   $inc: {
    //     healthpoints: -5
    //   }
    // })
// - 所有名称不是1的，颜色变蓝
    // const query = this.cl.find().where('name').ne('1')
    // query.update({
    //   $set: {
    //     color: '#66ccff'
    //   }
    // })
// 输出doc上的method
    // const doc = await this.cl.findOne().exec()
    // console.log('doc: %o',doc)
    // console.log('doc.nameHa(): %o',doc.nameHa())
// 测试doc的population
    // const doc = await this.cl.findOne().exec()
    // console.log('doc.populate(bestFriend): %o',await doc.populate('bestFriend'))
    // console.log('doc.bestFriend_: %o',await doc.bestFriend_)
  }
}
</script>

<style>
html{
  height: 100%;
}
body {
  background-image: radial-gradient(circle at 67% 83%, 
  hsla(317,0%,96%,0.05) 0%, 
  hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),
  radial-gradient(circle at 24% 80%, 
  hsla(317,0%,96%,0.05) 0%, 
  hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),
  radial-gradient(circle at 23% 5%, 
  hsla(317,0%,96%,0.05) 0%, 
  hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),
  radial-gradient(circle at 21% 11%, 
  hsla(317,0%,96%,0.05) 0%, 
  hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),
  radial-gradient(circle at 10% 11%, 
  hsla(317,0%,96%,0.05) 0%, 
  hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),
  radial-gradient(circle at 19% 61%, 
  hsla(317,0%,96%,0.05) 0%, 
  hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),
  radial-gradient(circle at 13% 77%, 
  hsla(317,0%,96%,0.05) 0%, 
  hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),
  radial-gradient(circle at 30% 93%, 
  hsla(317,0%,96%,0.05) 0%, 
  hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
  height: 100%;
}
.hero-list {
  margin: 12px;
}
.item {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: #333333;
  line-height: 1;
  border: 1px solid #ddd;
  padding-left: 12px;
  margin-bottom: 6px;
  color: #FFFFFF;
  position: relative;
}
.item .delete-item {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.inputDiv {
  margin: 12px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.inputDiv input {
  margin-left: 12px;
  height: 30px;
  outline: none;
  border: 1px solid #888;
  padding-left: 8px;
}
.radioItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;
}
.op-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.create-container {
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  background: #FFFFFF;
  padding: 12px;
  margin-left: 12px;
}
.create-container header,.sort-container header {
  border-bottom: 1px solid #555555;
  padding-bottom: 8px;
}
.sort-container {
  border: 1px solid #8e8e8e;
  padding: 12px;
  margin-left: 12px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  background: #FFFFFF;
}
.test {
  margin: 12px;
  padding: 12px;
}
</style>